/* Palette */
/* purp: 1c083a */
/* orangered: 8a2810 */
/* gray: 1a1d32 */
/* lightgray: 666a81 */
/* offwhite: c0c0c0 */
:root {
  --color1: #1c083a;
  --color2: #8a2810;
  --color3: #1a1d32;
  --color4: #666a81;
  --color5: #c0c0c0;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P";
}

#block-0 {
  display: block;
  overflow: hidden;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
}


body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("img/background_space.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    filter: blur(0px);
    z-index: -2;
}

#main-body {
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 20rem;
  position: relative
}

p {
  margin: 0;
}

#audio-tab{
  position: absolute;
  z-index: 10;
}

#header-img {
  width: 50rem;
  position: relative;
}

.header {
  background-image: linear-gradient(var(--color3), var(--color4));
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1rem;
  color: white;
}

.start-container {
  text-align: center;
}

#startButton {
  margin: 10px;
  background-color: ;
}

/* block-1 */
#block-1 {
  padding: 1rem;
  padding-top: 2rem;
  background-color: LemonChiffon;
  border-radius:  0 0 1rem 1rem;
  display: none;
  overflow: hidden;
  position: relative;
}

#block-1 > form > h3 {
  text-align: center;
  padding: 1rem;
  border: 0.4rem dotted black;
}

.sm-split-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sm-split {
  margin: 0;
  display: inline-block;
  position: relative;
  max-width: 50%;
  padding: 0rem;
  padding-bottom: 0.5rem;
}

#employment-form > * {
  
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem dashed black
}

#employment-form > div:last-of-type {
  margin-top: 1rem;
  border-bottom: none;
}

#employment-form .loren {
  text-align: center;
}

#employment-form .loren mark {
  color: lightslategrey;
  font-size: 1rem;
  background-color: lightslategrey;
}

#form-sign-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#form-sign-container > div {
  margin: 0;
  display: inline-block;
  position: relative;
  max-width: 50%;
  padding: 0rem;
  padding-bottom: 0.5rem;
}

#form-sign-container > div:first-child {
  max-width: 20%;
  min-width: 20%;
}

#form-sign-container > div:last-child {
  min-width: 75%;
  max-width: 75%;
}

#form-sign-container input {
  width: 100%;
  font-family: "Homemade Apple";
  text-align: right;
  font-weight: 100;
  background-color: lightgray;
  border-top: none;
  border-right: none;
  border-left: none;
}

.is-sys {
  background: linear-gradient(rgb(100,100,255), rgb(0,0,255));
  color: white;
  border-image-source: none !important;
  border: 0.2rem solid gray !important;
}
.is-sys.with-title > p.title {
  border: 0.2rem solid gray;
  background-color: black !important;
  color: yellowgreen;
}

#block-2 {
  width: 100%;
  display: block;
}

#letter {
  width: 100%;
  cursor: pointer;
  background: linear-gradient(LightYellow, LemonChiffon);
  font-family: "Homemade Apple";
  font-size: 2rem;
  height: 25rem;
  text-align: center;
  border-radius: 0 0 0.3rem 0.3rem;
  display:none;
}

#letter-tab {
  display: none;
  border-top: 0 solid moccasin;
  border-left: 25rem solid transparent;
  border-right: 25rem solid transparent;
  height: 0;
  width: 0;
}